. {
    bind 192.0.2.1
    bind 2001:db8::1
    log
    file root-zone . 
}

. {
    bind 192.0.2.11
    bind 2001:db8::11
    log
    file xa xa
    file mail.xa mail.xa
}

. {
    bind 192.0.2.12
    bind 2001:db8::12
    log
    file xa xa
    file mail.xa mail.xa
}

. {
    bind 192.0.2.21
    bind 2001:db8::21
    log
    file zone09.xa zone09.xa
}

. {
    bind 192.0.2.22
    bind 2001:db8::22
    log
    file zone09.xa zone09.xa
}

. {
    bind 192.0.2.31
    bind 2001:db8::31
    log

    # INCONSISTENT-MX.zone09.xa
    file Z09.zone09.xa inconsistent-mx.zone09.xa
    template IN MX inconsistent-mx.zone09.xa {
        answer "inconsistent-mx.zone09.xa. 600 MX 10 mail.xa."
    }

    # INCONSISTENT-MX-DATA.zone09.xa
    file Z09.zone09.xa inconsistent-mx-data.zone09.xa
    template IN MX inconsistent-mx-data.zone09.xa {
        answer "inconsistent-mx-data.zone09.xa. 600 MX 10 mail.xa."
        answer "inconsistent-mx-data.zone09.xa. 600 MX 10 liam.xa."
    }

    # Z09-MISSING-MAIL-TARGET.zone09.xa
    file Z09.zone09.xa z09-missing-mail-target.zone09.xa

    # Z09-MX-DATA.zone09.xa
    file Z09.zone09.xa z09-mx-data.zone09.xa
    template IN MX z09-mx-data.zone09.xa {
        answer "z09-mx-data.zone09.xa. 600 MX 10 mail.xa."
    }

    # Z09-MX-FOUND.zone09.xa
    file Z09.zone09.xa z09-mx-found.zone09.xa
    template IN MX z09-mx-found.zone09.xa {
        answer "z09-mx-found.zone09.xa. 600 MX 10 mail.xa."
    }

    # NON-AUTH-MX-RESPONSE.zone09.xa
    file Z09.zone09.xa non-auth-mx-response.zone09.xa
    template IN MX non-auth-mx-response.zone09.xa {
        answer "non-auth-mx-response.zone09.xa. 600 MX 10 mail.xa."
    }

    # Z09-NO-MX-FOUND.zone09.xa
    file Z09.zone09.xa z09-no-mx-found.zone09.xa
    template IN MX z09-no-mx-found.zone09.xa {
        answer "z09-no-mx-found.zone09.xa. 600 MX 10 mail.xa."
    }

    # NO-RESPONSE-MX-QUERY.zone09.xa
    file Z09.zone09.xa no-response-mx-query.zone09.xa
    template IN MX no-response-mx-query.zone09.xa {
        answer "no-response-mx-query.zone09.xa. 600 MX 10 mail.xa."
    }
}

. {
    bind 192.0.2.32
    bind 2001:db8::32
    log

    # INCONSISTENT-MX.zone09.xa
    file Z09.zone09.xa inconsistent-mx.zone09.xa

    # INCONSISTENT-MX-DATA.zone09.xa
    file Z09.zone09.xa inconsistent-mx-data.zone09.xa
    template IN MX inconsistent-mx-data.zone09.xa {
        answer "inconsistent-mx-data.zone09.xa. 600 MX 10 liam.xa."
    }

    # Z09-MISSING-MAIL-TARGET.zone09.xa
    file Z09.zone09.xa Z09-MISSING-MAIL-TARGET.zone09.xa

    # Z09-MX-DATA.zone09.xa
    file Z09.zone09.xa Z09-MX-DATA.zone09.xa
    template IN MX Z09-MX-DATA.zone09.xa {
        answer "Z09-MX-DATA.zone09.xa. 600 MX 10 mail.xa."
    }

    # Z09-MX-FOUND.zone09.xa
    file Z09.zone09.xa Z09-MX-FOUND.zone09.xa
    template IN MX Z09-MX-FOUND.zone09.xa {
        answer "Z09-MX-FOUND.zone09.xa. 600 MX 10 mail.xa."
    }

    # NON-AUTH-MX-RESPONSE.zone09.xa
    file Z09.zone09.xa non-auth-mx-response.zone09.xa
    template IN MX non-auth-mx-response.zone09.xa {
        answer "non-auth-mx-response.zone09.xa. 600 MX 10 mail.xa."
    }

    # Z09-NO-MX-FOUND.zone09.xa
    # no MX for this zone in this nameserver
}

. {
    bind 192.0.2.34
    bind 2001:db8::34
    log

    # Z09-NON-AUTH-MX-RESPONSE.zone09.xa
    file Z09.zone09.xa non-auth-mx-response.zone09.xa
    template IN MX non-auth-mx-response.zone09.xa {
        answer "non-auth-mx-response.zone09.xa. 600 MX 10 mail.xa."
        fallthrough
    }
    header {
        clear aa
    }

}
